@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: black;
    color: white;
}

.no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Edge */
}